# Virtual environment
ff_project/

# Data files - too large for git
data/*.pkl
*.pkl

# Python cache
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Jupyter
*.ipynb_checkpoints